################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.ini
*.suo
/TP1/TP1/obj/Debug
/TP1/TP1/Properties
/TP1/.vs/TP1/v16
/TP1/obj/Debug
/TP1/Properties
.vs/SIMULACION-TP1/v16
.vs/TP1/v16
/SIMULACION-TP1/obj/Debug
/SIMULACION-TP1/bin/Debug
/SIMULACION-TP1/bin/Release
/SIMULACION-TP1/obj/Release
/Distribuciones/obj
/Distribuciones/bin/Debug/netstandard2.0
/.vs/SIMULACION-TP1/DesignTimeBuild
/.vs/SIMULACION-TP3/DesignTimeBuild
/.vs/SIMULACION-TP3/v16
/Distribuciones/bin/Release/netstandard2.0
